---
import "../styles/global.css";

import { ClientRouter } from "astro:transitions";

import { buildCanonicalUrl } from "@/lib/utils";
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config/site'

const canonicalHref = buildCanonicalUrl(Astro.url, Astro.site);

const {
	title,
	description,
	image,
} = Astro.props;

const ogImage = image || new URL("/og.webp", Astro.url.origin).href;
---

<!doctype html>
<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }

    function applyTheme() {
        if (localStorage.theme === "dark") {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }
    }

    document.addEventListener("astro:after-swap", applyTheme);
    applyTheme();
</script>

<html lang="en" class="scroll-smooth">
	<head>
        <!-- Global Metadata -->
        <meta charset="UTF-8" />
        <meta name='viewport' content='width=device-width,initial-scale=1' />
        <link rel='icon' href='/favicon.ico' sizes='32x32' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <meta name='robots' content='index, follow' />
        <meta name='language' content='en' />
        <meta name='author' content='haseakito' />
        <meta
            name='keywords'
            content='Tech Blog, Programming, Infrastructure, Web Development, Software Engineering, 技術ブログ, 競技プログラミング, 雑談'
        />

        <!-- Canonical URL -->
        <link rel='canonical' href={canonicalHref} />

        <!-- RSS Feed -->
        <link
            rel='alternate'
            type='application/rss+xml'
            href={new URL("/rss.xml", Astro.site)}
            title='RSS2.0'
        />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name='title' content={title} />
        <meta name='description' content={description} />
        <ClientRouter />

        <!-- Open Graph / Facebook -->
        <meta property='og:type' content='website' />
        <meta property='og:url' content={canonicalHref} />
        <meta property='og:title' content={title} />
        <meta property='og:description' content={description} />
        <meta property='og:site_name' content={SITE_TITLE} />
        <meta property='og:image' content={ogImage} />

        <!-- Twitter -->
        <meta property='twitter:card' content='summary_large_image' />
        <meta property='twitter:url' content={canonicalHref} />
        <meta property='twitter:title' content={title} />
        <meta property='twitter:description' content={description} />
        <meta property='twitter:image' content={ogImage} />
        </head>
   	<body>
  		<slot />
   	</body>
</html>
